
<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Homework 13</a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="/">Home</a></li>-->
            <li><a href="/">Home</a></li>            
            <li><a href="{% url 'students_list' %}">Students</a></li>
            <li><a href="{% url 'courses_list' %}">Courses</a></li>
            <li><a href="{% url 'coaches_list' %}">Coaches</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>